Source: ros-melodic-robot-body-filter
Section: misc
Priority: optional
Maintainer: Martin Pecka <peckama2@fel.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), libfcl-dev, libpcl-dev, pkg-config, ros-melodic-catkin, ros-melodic-dynamic-reconfigure, ros-melodic-filters, ros-melodic-geometric-shapes, ros-melodic-geometry-msgs, ros-melodic-laser-geometry, ros-melodic-message-generation, ros-melodic-moveit-core, ros-melodic-moveit-ros-perception, ros-melodic-pcl-conversions, ros-melodic-roscpp, ros-melodic-rostest, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-tf2, ros-melodic-tf2-eigen, ros-melodic-tf2-ros, ros-melodic-tf2-sensor-msgs, ros-melodic-urdf, ros-melodic-visualization-msgs
Homepage: https://github.com/peci1/robot_body_filter
Standards-Version: 3.9.2

Package: ros-melodic-robot-body-filter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfcl-dev, libpcl-dev, ros-melodic-dynamic-reconfigure, ros-melodic-filters, ros-melodic-geometric-shapes, ros-melodic-geometry-msgs, ros-melodic-laser-geometry, ros-melodic-message-runtime, ros-melodic-moveit-core, ros-melodic-moveit-ros-perception, ros-melodic-pcl-conversions, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-tf2, ros-melodic-tf2-ros, ros-melodic-urdf, ros-melodic-visualization-msgs
Description: Filters the robot's body out of laser scans or point clouds.
